{%  extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'payment/css/payment-success-fail.css' %}">
{% endblock head %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-5 text-center">
        <div class="message-box _success _failed">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            <h3> Оплата завершилась с ошибкой. Повторите платеж позже.</h3>
        </div>
        <a href="{% url 'shop:products' %}" class="btn btn-secondary btn-sm" role="button">Вернуться в каталог</a>

    </div>
</div>
</div>
{% endblock content %}
